.add-item-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.add-item-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px solid #ddd;
  padding: 20px;
  margin-top: 1em;
  margin-bottom: 1em;

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  width: 100%;
  max-width: 1400px;
  height: 25vh;
  margin-left: auto;
  margin-right: auto;
}

.add-item-text {
  font-size: 1em;
  margin-bottom: 2em;
}
