.dashboard-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.card {
  margin: 1em;

  border-radius: 1em;
  width: 100%;
  height: 100%;
}
