.edit-username-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.username-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 1em;
}

.change-username-box {
  border: 2px solid #ddd;
  padding: 20px;
  margin-top: 1em;
  margin-bottom: 1em;

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.confirm-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-username {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.username-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;

  width: 60%;
}
