.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: auto;
  min-height: 100vh;
}

.profile {
  margin-bottom: 2em;
}

.edit {
  margin-top: 2em;
}
