.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Apply styles to the ProfileInfo and RedirectEdit components */
.profile-info-container {
  margin-bottom: 20px;
}

.edit-container {
  text-align: center; /* Center the RedirectEdit component */
}
