.form-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    color: black;
    background-image: white;
  }
  
  .auth-form-container,
  .login-form,
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (min-width: 600px) {
    .auth-form-container {
      padding: 3rem;
      border: 1px solid black;
      border-radius: 10px;
      margin: 0.5rem;
    }
  }
  
  label {
    text-align: left;
    border: #0b8aeb;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: 2px solid #0b8aeb;
    border-radius: 10px;
  }
  
  button {
    border: none;
    background-color: rgb(14, 185, 14);
    padding: 1.5em;
    border-radius: 10px;
    margin: 0.5rem 0;
    cursor: pointer;
    color: white;
  }
  
  .link-btn {
    background: none;
    color: black;
    text-decoration: underline;
  }
  