.landing-page {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('/public/images/landing.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
  
    /* color: #ffffff;  */
    font-size: 24px; 
    padding: 20px; 

    width: 100%;
    height: 100vh;
    min-height: 100%;

    color: rgb(255, 255, 255);
  }
